body {
  width: 100vw;
  height: 100vh;
  background-size: cover; /*propriedade para a imagem de fundo cobrir a tela*/
  background-position: right top; /*propriedade para fixar a imagem na direção desejada*/
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}
