body {
  background-image: url(../../img/background-curupira.png); /*propriedade para acessar a imagem que está em outra pasta*/
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

main h2 {
  font-size: 2rem;
  font-weight: 100;
}

main h1 {
  font-size: 7.5rem;
  font-weight: 600;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
  text-shadow: 5px 2px rgba(0, 0, 0, 0.219);
}

main p {
  font-size: 1.9rem;
  width: 900px;
  font-weight: lighter;
  font-style: italic;
}

main .container-lenda {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 470px;
  gap: 15px;
}

.container-lenda h2 {
  writing-mode: tb-rl;
  transform: rotate(180deg);
  color: #b70710;
}

.container-items {
  display: flex;
  gap: 50px;
  font-weight: 100;
}

.border-red {
  height: 50px;
  width: 5px;
  background-color: #b70710;
}
